<%- content_for :title do -%>
  <%= _("Add New Hardware Pool") %>
<%- end -%>
<%- content_for :description do -%>
  Add a new Hardware Pool to the <%= @parent.name %> pool.
  <%= "Checked #{@resource_type} will be added to the new pool." if @resource_type %>
<%- end -%>

<form method="POST" action="<%= url_for :action => 'create' %>" id="pool_form" >
  <div class="dialog_form">
    <%= render :partial => 'form' %>
  </div>
  <%= popup_footer("$('#pool_form').submit()", "Create Hardware Pool") %>
</form>

<script type="text/javascript">
$(function() {
    var hwpooloptions = {
        target:        '<%= url_for :action => 'create' %>',   // target element to update
	dataType:      'json',
        success:       afterHwPool  // post-submit callback
    };

    // bind form using 'ajaxForm' 
    $('#pool_form').ajaxForm(hwpooloptions); 
});
</script>



