<div class="data_section_summary">

   <div class="summary_title"><%= image_tag "icon_hdwarepool.png", :style=>"vertical-align:middle;" %>&nbsp;<%= @pool.name %></div><br/><br/>
   
   <div class="summary_subtitle"><%= image_tag "icon_smry_res.png", :style=>"vertical-align:middle;" %>&nbsp;Resources</div><br/>
   <div id="availability_graphs">
      <%= render_component :controller=> 'graph', :action => 'availability_graph', :id => @pool.id, :params => { :target => 'cpu' } %>
      <%= render_component :controller=> 'graph', :action => 'availability_graph', :id => @pool.id, :params => { :target => 'memory' } %>
   </div>

   <br/><br/>
   <div class="summary_subtitle"><%= image_tag "icon_smry_his.png", :style=>"vertical-align:middle;" %>&nbsp;History</div><br/>
   <%= render_component :controller=> 'graph', :action => 'history_graphs', :id => @pool.id, :params => { :poolType => 'hardware' }%>
   
   <div class="summary_subtitle"><%= image_tag "icon_smry_perf.png", :style=>"vertical-align:middle;" %>&nbsp;Performance</div><br/>
   <%= render_component :controller=> 'graph', :action => 'snapshot_graph', :id => @pool.id, :params => { :poolType => 'hardware' }%>
</div>

<div class="selection_detail" id="hwpool_selection">
  <div>Hardware pool quota details.</div>
</div>


<script type="text/javascript">
         refresh_summary('hwpool_selection', 
                         '<%= url_for :controller => "hardware", 
                                      :action => "quick_summary" %>',
                         <%= @pool.id %>)
</script>
