<div class="panel_header"></div>
  <div class="data_section">

<br/>&nbsp; &nbsp;<b><%= @pool.name %></b><br/><br/>

<div id="availability_graphs">
   <%= render_component :controller=> 'graph', :action => 'availability_graph', :id => @pool.id, :params => { :target => 'cpu' } %>
   <%= render_component :controller=> 'graph', :action => 'availability_graph', :id => @pool.id, :params => { :target => 'memory' } %>
   <%= render_component :controller=> 'graph', :action => 'availability_graph', :id => @pool.id, :params => { :target => 'vms' } %>
</div>

<%= render_component :controller=> 'graph', :action => 'history_graphs', :id => @pool.id %>

<div class="selection_detail" id="hwpool_selection">
  <div>Hardware pool quota details.</div>
</div>
<%- content_for :scripts do -%>
<script type="text/javascript">
      $(document).ready(function(){
         refresh_summary('hwpool_selection', 
                         '<%= url_for :controller => "hardware", 
                                      :action => "quick_summary" %>',
                         <%= @pool.id %>)
	}); 
</script>
<%- end -%>

<%= render_component :controller=> 'graph', :action => 'snapshot_graph', :id => @pool.id %>
