<div id="toolbar_nav">
<ul>
    <li><a href="<%= url_for :controller => 'host', :action => 'addhost', :hardware_pool_id => @pool %>" rel="facebox[.bolder]"><%= image_tag "icon_addhost.png" %>&nbsp;&nbsp;Add Host</a></li>
    <li><a href="TODO"><%= image_tag "icon_addstorage.png" %>&nbsp;&nbsp;Add Storage</a></li>
    <li><a href="TODO"><%= image_tag "icon_adduser.png" %>&nbsp;&nbsp;Add User</a></li>
</ul>
</div>
<div class="panel_header"></div>

<br/>&nbsp; &nbsp;<b><%= @pool.name %></b><br/><br/>

<div id="availability_graphs">
  <div class="availability_graph">
    <div class="availability_graph_left">
      <%= render :partial => '/layouts/graph', :locals => { :div_id => 'available_memory',  :chartType => 'stackedColumn', :url => (url_for :controller => 'hardware', :action => 'available_graph', :target => 'memory' ) } %>
    </div>
    <div class="availability_graph_right">
      Available: <%= @available_memory %> <br/> Used: <%= @used_memory %> <br/><b><%= @available_memory + @used_memory %> GB of Memory</b><br/>
    </div>
  </div>

  <div class="availability_graph">
    <div class="availability_graph_left">
      <%= render :partial => '/layouts/graph', :locals => { :div_id => 'available_storage', :chartType => 'stackedColumn', :url => (url_for :controller => 'hardware', :action => 'available_graph', :target => 'storage') } %>
    </div>
    <div class="availability_graph_right">
      Available: <%= @available_storage %> <br/> Used: <%= @used_storage %> <br/><b><%= @available_storage + @used_storage %> GB of Storage</b><br/>
    </div>
  </div>

  <div class="availability_graph">
    <div class="availability_graph_left">
      <%= render :partial => '/layouts/graph', :locals => { :div_id => 'available_vms',     :chartType => 'stackedColumn', :url => (url_for :controller => 'hardware', :action => 'available_graph', :target => 'vms'    ) } %>
    </div>
    <div class="availability_graph_right">
      Available: <%= @available_vms %> <br/> Used: <%= @used_vms %> <br/><b><%= @available_vms + @used_vms %> Virtual Machines</b><br/>
    </div>
  </div>
</div>
<div id="history_graphs">
  <div id="history_graphs_control">
   <div class="history_graphs_menu">
      <script type="text/javascript">
         function swap_history_graph(newgraph, title){
             $('.history_graph').hide(); 
             $('#' + newgraph).parent().show();
             $('#history_graph_menu_header').html(title + '&nbsp;&nbsp;<%= image_tag 'icon_menu_arrow.gif' %>');
         }
      </script>
      <ul>
        <li><div id="history_graph_menu_header">Overall Load &nbsp;&nbsp;<%= image_tag 'icon_menu_arrow.gif' %></div></li>
        <li class="history_graph_menu_item history_graph_menu_fitem"><a href="#" onclick="swap_history_graph('host_usage_history', 'Host Usage');">Host Usage</a></li>
        <li class="history_graph_menu_item"><a href="#" onclick="swap_history_graph('storage_usage_history', 'Storage Usage');" >Storage Usage</a></li>
        <li class="history_graph_menu_item"><a href="#" onclick="swap_history_graph('vm_pool_usage_history', 'VM Pool Usage');" >VM Pool Usage</a></li>
        <li class="history_graph_menu_item history_graph_menu_litem"><a href="#" onclick="swap_history_graph('overall_load_history', 'Overall Load')" >Overall Load</a></li>
      </ul>
   </div>
   <div class="history_graphs_menu">
      <ul>
        <li>Last 7 Days</li>
      </ul>
   </div>
   <div class="history_graphs_legend">
       <font color="<%= @peak_color %>">Peak &nbsp; &nbsp;</font>
       <font color="<%= @average_color %>">Average &nbsp; &nbsp;</font>
   </div>
  </div>
  <div id="history_graphs_graphs">
    <div class="history_graph" ><%= render :partial => '/layouts/graph', :locals => { :div_id => 'host_usage_history',    :chartType => 'line', :yGridLines => 'lightgrey', :url => (url_for :controller => 'hardware', :action => 'history_graph', :target => 'host_usage'            ) } %></div>
    <div class="history_graph" ><%= render :partial => '/layouts/graph', :locals => { :div_id => 'storage_usage_history', :chartType => 'line', :yGridLines => 'lightgrey', :url => (url_for :controller => 'hardware', :action => 'history_graph', :target => 'storage_usage'         ) } %></div>
    <div class="history_graph" ><%= render :partial => '/layouts/graph', :locals => { :div_id => 'vm_pool_usage_history', :chartType => 'line', :yGridLines => 'lightgrey', :url => (url_for :controller => 'hardware', :action => 'history_graph', :target => 'vm_pool_usage_history' ) } %></div>
    <div class="history_graph" ><%= render :partial => '/layouts/graph', :locals => { :div_id => 'overall_load_history',  :chartType => 'line', :yGridLines => 'lightgrey', :url => (url_for :controller => 'hardware', :action => 'history_graph', :target => 'overall_load'          ) } %></div>
  </div>
</div>
<div id="network_traffic_graphs">
   <table>
     <tr>  
           <th width="15%">Network Traffic</th>
           <th width="50%">Load</th>
           <th width="15%">Errors</th>
           <th width="15%">Trend</th>
     </tr>

     <tr>  
           <td>Network In </td>  
           <td>
               <div class="network_traffic_load_text"><%= @network_traffic['in'] %> mb/s </div>
               <%= render :partial => '/layouts/graph', :locals => { :div_id => 'network_traffic_in',  :chartType => 'stackedRow', :url => (url_for :controller => 'hardware', :action => 'network_traffic_graph', :target => 'in'  ) } %>
           </td> 
           <td><%= @network_errors['in']  == 0 ? 'none' : (image_tag 'network_error.png') + '&nbsp; &nbsp;' + @network_errors['in'].to_s  %></td>
           <td><%= @network_trends['in']  == 'up' ? (image_tag 'network_trend_up.png') : (@network_trends['in']   == 'down' ? (image_tag 'network_trend_down.png') : (image_tag 'network_trend_check.png')) %></td>
     </tr>
     <tr>  
           <td>Network Out</td>  
           <td>
               <div class="network_traffic_load_text"><%= @network_traffic['out'] %> mb/s</div>
               <%= render :partial => '/layouts/graph', :locals => { :div_id => 'network_traffic_out', :chartType => 'stackedRow', :url => (url_for :controller => 'hardware', :action => 'network_traffic_graph', :target => 'out' ) } %>
           </td> 
           <td><%= @network_errors['out'] == 0 ? 'none' : (image_tag 'network_error.png') + '&nbsp; &nbsp;' + @network_errors['out'].to_s %></td> 
           <td><%= @network_trends['out'] == 'up' ? (image_tag 'network_trend_up.png') : (@network_trends['out']  == 'down' ? (image_tag 'network_trend_down.png') : (image_tag 'network_trend_check.png')) %></td>
     </tr>
     <tr>  
           <td>I/O </td>  
           <td>
               <div class="network_traffic_load_text"><%= @network_traffic['io'] %> mb/s</div>
               <%= render :partial => '/layouts/graph', :locals => { :div_id => 'network_traffic_io',  :chartType => 'stackedRow', :url => (url_for :controller => 'hardware', :action => 'network_traffic_graph', :target => 'io'  ) } %> </td> 
           <td><%= @network_errors['io']  == 0 ? 'none' : (image_tag 'network_error.png') + '&nbsp; &nbsp;' + @network_errors['io'].to_s  %></td> 
           <td><%= @network_trends['io']  == 'up' ? (image_tag 'network_trend_up.png') : (@network_trends['io']   == 'down' ? (image_tag 'network_trend_down.png') : (image_tag 'network_trend_check.png')) %></td>
     </tr>

   </table>
</div>
