          <div id="dataTableWrapper">

            <%= render :partial => "/layouts/quick_stats", :locals => { :hpool => @map, :vms => [] } %>

            <div class="dataTable">

            <%= render :partial => "/layouts/hardware_pool_type_list", :locals => { :host_collections => @map.host_collections } %>

            </div> <!-- end #dataTable -->

            <div class="data-section">
              <div class="data-section-header"><strong>Available Hosts</strong></div>
              <div class="data-section-stats">Statistics Data</div>
              <div class="data-section-table">
                <div class="inside">

                </div>
              </div>
            </div>

          </div> <!-- end #dataTableWrapper -->

          <div id="tools">

            <h3>Actions</h3>
            <div class="actions create">
              <%= link_to 'Add Storage to Map', { :controller => 'storage', :action => 'new', :hardware_pool_id => @map }, { :class => "" } %>
              <%= link_to 'Add Host to Map', { :controller => 'host', :action => 'list', :attach_to_pool => @map }, { :class => "" } %>
              <hr/>
              <%= link_to 'Create Collection', { :controller => "collection", :action => 'new', :superpool_id => @map }, { :class => "" } %>
            </div>
            <div class="actions edit">
              <%= link_to 'Edit Map Properties', { :action => 'edit', :id => @map }, { :class => "edit" } %>
            </div>
            <div class="actions remove">
              <%= link_to "Delete Map", { :controller => 'network_map', :action => 'destroy', :id => @map }, { :method => :post, :confirm => 'Are you sure you want to delete - %s?' % @map.name, :class => "" } %>
            </div>
            <div class="actions">
              <%= link_to "Back to #{@map.organizational_pool.name}", { :controller => 'pool', :action => 'show', :id => @map.organizational_pool }, { :class => "" } %>
            </div>

            <div class="actions users">
              <div><%= link_to_if @can_delegate, 'User Permissions', { :controller => 'permission', :action => 'new', :hardware_pool_id => @map }, { :class => "edit" } %></div>
              <table>
                <tr><td><%= pluralize @map.permissions.admins.size, "Admin" %></td></tr>
                <tr><td><%= pluralize @map.permissions.delegates.size, "Delegate" %></td></tr>
                <tr><td><%= pluralize @map.permissions.monitors.size, "Monitor" %></td></tr>
              </table>
            </div>

          </div>

<%- content_for :title do -%>
<%= @map.name %>
<%- end -%>
