    <div id="data">
      <div class="inside">
          <div id="dataTableWrapper">

            <%= render :partial => "/layouts/quick_stats", :locals => { :hpool => @network_map, :vms => [] } %>

            <div class="dataTable">

            <%= render :partial => "/layouts/hardware_pool_type_list", :locals => { :host_collections => @network_map.host_collections } %>

            </div> <!-- end #dataTable -->

            <div class="data-section">
              <div class="data-section-header"><strong>Available Hosts (<%= @network_map.hosts.size -%>)</strong></div>
              <div class="data-section-stats">Statistics Data</div>
              <div class="data-section-table">
                <div class="inside">
                <%= render :partial => "/host/list", :locals => { :hosts => @network_map.hosts } %>
                </div>
              </div>
            </div>

            <div class="data-section">
              <div class="data-section-header"><strong>Available Storage</strong></div>
              <div class="data-section-stats">Statistics Data</div>
              <div class="data-section-table">
                <div class="inside">
                  <%= render :partial => "/storage/list", :locals => { :storage_volumes => @network_map.storage_volumes } %>
                </div>
              </div>
            </div>

          </div> <!-- end #dataTableWrapper -->

      </div> <!-- end #data.inside -->
      </div> <!-- end #data -->

  </td>
  <td id="right">
          <div class="heading">&nbsp;</div>
          <div class="tools">

            <h3>Actions</h3>
            <%if @is_admin -%>
            <div class="actions">
              <%= link_to 'Add Storage to Map', { :controller => 'storage', :action => 'new', :hardware_pool_id => @network_map }, { :class => "create" } %>
              <%= link_to 'Add Host to Map', { :controller => 'host', :action => 'list', :attach_to_pool => @network_map }, { :class => "create" } %>
              <%= link_to 'Create Collection', { :controller => "collection", :action => 'new', :superpool_id => @network_map }, { :class => "create" } %>
            </div>
            <div class="actions">
              <%= link_to "Delete Map", { :controller => 'network_map', :action => 'destroy', :id => @network_map }, { :method => :post, :confirm => 'Are you sure you want to delete - %s?' % @network_map.name, :class => "remove" } %>
            </div>
            <%- end -%>

            <div class="actions">
              <div><%= link_to 'Edit Map Properties', { :action => 'edit', :id => @network_map }, { :class => "edit" } %></div>
              <div><%= link_to_if @can_delegate, 'User Permissions', { :controller => 'permission', :action => 'new', :hardware_pool_id => @network_map }, { :class => "edit" } %></div>
              <table>
                <tr><td><%= pluralize @network_map.permissions.admins.size, "Admin" %></td></tr>
                <tr><td><%= pluralize @network_map.permissions.delegates.size, "Delegate" %></td></tr>
                <tr><td><%= pluralize @network_map.permissions.monitors.size, "Monitor" %></td></tr>
              </table>
            </div>

            <div class="actions">
              <%= link_to "Back to #{@network_map.organizational_pool.name}", { :controller => 'pool', :action => 'show', :id => @network_map.organizational_pool }, { :class => "" } %>
            </div>

          </div>

  </td>

<%- content_for :title do -%>
<%= @network_map.name %>
<%- end -%>
