<div id="data">
  <div class="inside">

    <div id="dataTableWrapper">

    <div class="dataTable">
        <div class="inside">

      <div class="data-table-column">
      <% form_tag :action => 'update', :id => @collection do %>
        <%= render :partial => 'form' %>
        <%= submit_tag 'Edit' %>
      <% end %>
      </div>

      <div class="data-table-column">
        <strong class="header">Existing Collections (<%= @collection.network_map.host_collections.size %>)</strong>
        <%= render :partial => "list", :locals => { :host_collections => @collection.network_map.host_collections } %>
      </div>


    </div> <!-- end #data-table.inside -->
  </div> <!-- end #dataTable -->


</div> <!-- end #dataTableWrapper -->

      </div> <!-- end #data.inside -->
      </div> <!-- end #data -->

  </td>
  <td id="right">
    <div class="heading">&nbsp;</div>

    <div id="tools">
    <h3>Actions</h3>
      <div class="actions">
        <%= link_to "Back to #{@collection.name}", { :action => 'show', :id => @collection }, { :class => "" } %>
      </div>
    </div> <!-- end #tools -->

  </td>

<%- content_for :title do -%>
<%= "Editing Collection #{@collection.name}" %>
<%- end -%>
