          <div id="dataTableWrapper">

          <div class="dataTable">
              <div class="inside">

                <div class="data-table-column">
                <% form_tag :action => 'create', :id => @collection do %>
                  <%= render :partial => 'form' %>
                  <%= submit_tag 'Create Host Collection' %>
                <% end %>
               </div>

                <div class="data-table-column">
                  <strong>Existing Collections</strong>
                  <% for collection in @collections %>
                  <div><%= link_to collection.name, { :controller => "collection", :action => "show", :id => collection }, { } %></div>
                  <% end %>
                </div>

              </div> <!-- end #data-table.inside -->
            </div> <!-- end #dataTable -->

          </div> <!-- end #dataTableWrapper -->

          <div id="tools">

          <h3>Actions</h3>
            <div class="actions">
              <%= link_to_if @collection.network_map, "Back to #{@collection.network_map.name}", { :controller => 'network_map', :action => 'show', :id => @collection.network_map }, { :class => "" } %>
              <%= link_to_if @collection.parent_collection, "Back to #{@collection.parent_collection.name}", { :action => 'show', :id => @collection.parent_collection }, { :class => "" } %>
            </div>
          </div> <!-- end #tools -->

<%- content_for :title do -%>
<%= _("Create New Host Collection") %>
<%- end -%>

