    <div id="data">
      <div class="inside">

          <div id="dataTableWrapper">

          <div class="dataTable">
              <div class="inside">

                <div class="data-table-column">
                <% form_tag :action => 'create', :id => @collection do %>
                  <%= render :partial => 'form' %>
                  <%= submit_tag 'Create Host Collection' %>
                <% end %>
               </div>

                <div class="data-table-column">
                  <strong class="header">Current Collections (<%= @collections.size %>)</strong>
                  <% for collection in @collections %>
                  <div class="hardware-item"><%= link_to collection.name, { :controller => "collection", :action => "show", :id => collection }, { } %></div>
                  <% end %>
                </div>

              </div> <!-- end #data-table.inside -->
            </div> <!-- end #dataTable -->

          </div> <!-- end #dataTableWrapper -->

      </div> <!-- end #data.inside -->
      </div> <!-- end #data -->

  </td>
  <td id="right">
          <div class="heading">&nbsp;</div>
          <div class="tools">

          <h3>Actions</h3>
            <div class="actions">
              <%= link_to "Back to #{@collection.network_map.name}", { :controller => 'network_map', :action => 'show', :id => @collection.network_map }, { :class => "" } if @collection.network_map %>
              <%= link_to "Back to #{@collection.parent_collection.name}", { :action => 'show', :id => @collection.parent_collection }, { :class => "" } if @collection.parent_collection %>
            </div>
          </div> <!-- end #tools -->
  </td>

<%- content_for :title do -%>
<%= _("Create New Host Collection") %>
<%- end -%>

