  <td id="right">
          <div class="tools">

          <h3>Actions</h3>

          <div class="actions">
            <div><%= link_to_if @can_set_perms, 'User Permissions', { :controller => 'permission', :action => 'new', :pool_id => @default_pool }, { :class => "edit" } %></div>
            <table>
              <tr><td><%= pluralize @default_pool.permissions.super_admins.size, "Super Admin" %></td></tr>
              <tr><td><%= pluralize @default_pool.permissions.admins.size, "Administrator" %></td></tr>
              <tr><td><%= pluralize @default_pool.permissions.users.size, "User" %></td></tr>
              <tr><td><%= pluralize @default_pool.permissions.monitors.size, "Monitor" %></td></tr>
            </table>
          </div>

          </div> <!-- end #tools -->
  </td>



<%- content_for :title do -%>
<%= _("Dashboard") %>
<%- end -%>

